body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #333;
}

span{
	font-size: 14px;
	color: #000;
	transition: 0.3s;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	transition: 0.3s;
}

a:hover {
	color: #1A6DBB;
	transition: 0.3s;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

.blurb {
	margin: 150px 0 90px 0;
	text-align: center;
}

span {
	margin-bottom: 10px;
	font-size: 15px;
	line-height: 40px;
}

span.highlight {
	background-color: darkred;
	color: white;
	transition: 0.3s;
}

span.highlight:hover {
	background-color: red;
	color: white;
	transition: 0.3s;
}

footer {
    border-top: 2px solid #d5d5d5;
}
